{% extends 'base.html' %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Set a New Password</h2>
    <p>
        Complete the below form to set a new password
    </p>
</section>

<section class="container">
    {% if validlink %}
        <form method="POST" class="full-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Confirm new password</button>
        </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'account:reset-password-request' %}">new password reset link</a>.
        </p>
    {% endif %}
</section>

{% endblock %}