{% extends 'base.html' %}
{% load static %}
{% load settings_value %}

{% block main %}

<section class="container">
    <h2>Password Reset Email Sent</h2>
    <p>
        Thanks for requesting a password reset
    </p>
    <p>
        If we've found a matching user account then we've emailed you with instructions for resetting your password. If you haven't received it after a few minutes, please check your spam/junk folder and ensure that you've typed your email correctly.
    </p>
    <p>
        If you still haven't received the email, please contact us: <a href="mailto:{% settings_value 'MAIN_CONTACT_EMAIL' %}?subject=Invisible East website: Change my password&body=My email address is: {{ user.email }}%0D%0A%0D%0A%0D%0AI would like to change my password on the Invisible East website but have not received the password reset email">{% settings_value 'MAIN_CONTACT_EMAIL' %}</a>
    </p>
</section>

{% endblock %}