{% extends 'base.html' %}
{% load static %}
{% load settings_value %}

{% block main %}

<section class="container">
    <h2>Forgot Your Password?</h2>
    <p>
        Enter your email address below and we'll email instructions for resetting your password
    </p>
    <p>
        If you've also forgotten your email address, please <a href="mailto:{% settings_value 'MAIN_CONTACT_EMAIL' %}?subject=Invisible East Digital Corpus: User has forgotten email address&body=I have forgotten the email address that is associated with my Invisible East account. Please can you remind me. My name is:">contact us</a>.
    </p>
    <form method="POST" class="full-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Request password reset email</button>
    </form>
</section>

{% endblock %}