{% load static settings_value i18n %}

<!-- Footer -->
<footer id="footer" class="container-fluid">
    <!-- Content -->
    <div id="footer-content" class="container-fluid">

        <div id="footer-content-logos">
            <!-- Oxford -->
            <a href="https://www.ox.ac.uk/" target="_blank"><img src="{% static 'images/logos/oxford-logo.png' %}" alt="Oxford University logo"></a>
            <!-- AHRC -->
            <a href="https://www.ukri.org/councils/ahrc/" target="_blank"><img src="{% static 'images/logos/ahrc-logo.png' %}" alt="Arts and Humanities Research Council logo"></a>
            <!-- ERC -->
            <a href="https://erc.europa.eu/homepage" target="_blank"><img src="{% static 'images/logos/erc-logo.png' %}" alt="European Research Council logo"></a>
            <!-- Alexander von Humboldt Foundation -->
            <a href="https://www.humboldt-foundation.de/en/" target="_blank"><img src="{% static 'images/logos/avhs-logo.png' %}" alt="Alexander von Humboldt Foundation"></a>
        </div>

        <div id="footer-content-social">
            <a title="instagram" id="footer-content-social-instagram" href="https://www.instagram.com/invisible_east/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a title="facebook" id="footer-content-social-facebook" href="https://www.facebook.com/InvisibleEast.Official" target="_blank"><i class="fab fa-facebook"></i></a>
            <a title="twitter" id="footer-content-social-twitter" href="https://twitter.com/invisible_east" target="_blank"><i class="fab fa-twitter"></i></a>
            <a title="youtube" id="footer-content-social-youtube" href="https://www.youtube.com/channel/UC-sicCra2ugvOyjOL9VP_BQ" target="_blank"><i class="fab fa-youtube"></i></a>
            <a title="linkedin" id="footer-content-social-linkedin" href="https://www.linkedin.com/company/invisible-east" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>

        <div id="footer-content-text">
            <p>
                {% translate 'Invisible East is a research project led by' %} <a href="https://www.conted.ox.ac.uk/profiles/arezou-azad" target="_blank">{% translate 'Arezou Azad' %}</a> {% translate 'within the' %} <a href="https://www.conted.ox.ac.uk/" target="_blank">{% translate 'Department for Continuing Education' %}</a>, {% translate 'University of Oxford' %}
            </p>
            <p>
                {% translate 'Invisible East' %}, Ewert House, Ewert Lane, Oxford, OX2 7DD
            </p>
            <p>
                {% translate 'This project has received funding from the European Research Council (ERC)<br>under the European Union’s Horizon 2020 research and innovation programme (grant agreement No 851607)' %}
            </p>
            <p>
                {% translate 'This is version' %} {% settings_value 'VERSION' %} {% translate 'of the Invisible East Digital Corpus (IEDC)' %}
            </p>
            <p>
                <a href="https://www.ox.ac.uk/privacy-policy" target="_blank">{% translate 'Privacy' %}</a> |
                <a href="https://www.ox.ac.uk/legal" target="_blank">{% translate 'Legal' %}</a> |
                <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}">{% translate 'Sitemap' %}</a> |
                <a href="{% url 'general:cookies' %}">{% translate 'Cookies' %}</a> |
                <a href="{% url 'general:accessibility' %}">{% translate 'Accessibility' %}</a> |
                {% if user.is_authenticated %}
                    <a href="{% url 'account:account' %}">{% translate 'Account' %}</a>
                {% else %}
                    <a href="{% url 'account:login' %}">{% translate 'Login' %}</a>
                {% endif %}
            </p>
            <p>
                {% translate '© University of Oxford' %} {% now "Y" %}
            </p>
        </div>

    </div>
</footer>