{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Frequently Asked Questions</h2>

    <p>
        In this section, we have benefitted from the extensive experience of our colleagues working with documents from <a target="_blank" href="https://geniza.princeton.edu/en/documents/">Egypt</a> and the wider <a target="_blank" href="https://www.apd.gwi.uni-muenchen.de/apd/project.jsp">Arabic-speaking world</a>, and have borrowed some of their guidance which is also applicable to the IEDC.
    </p>

    <h3>The Invisible East Corpus</strong></h3>
    <h4>What is the Invisible East corpus?</h4>
    <ul class="bullet-image">
        <li>The digital corpus aims to include at least 500 documents during the course of 2024-25. The <a href="https://invisibleeast.web.ox.ac.uk/team">IE team</a> is adding to the corpus every day, with around 200 currently in the pipeline for digitisation in 2024.</li>
    </ul>
    <h4>What kinds of texts are preserved here digitally?</h4>
    <ul class="bullet-image">
        <li>An estimated ninety percent of the IEDC fragments come from documents: letters, legal deeds, lists, accounts, state documents and other everyday writings and ephemera.</li>
        <li>The remaining ten percent are coming from long-form literary texts, including liturgy, Hebrew Bible, rabbinic literature,  medicine, astronomy,  lexicography, poetry and theology.</li>
    </ul>
    <h4>Where were the IEDC texts written?</h4>
    <ul class="bullet-image">
        <li>All the texts survived in Iran, Afghanistan and Central Asia.</li>
    </ul>
    <h4>When is the material from?</h4>
    <ul class="bullet-image">
        <li>The majority of IEDC documents date to the period between 737 and 1221 CE.</li>
    </ul>
    <h4>Where are the IEDC texts now?</h4>
    <ul class="bullet-image">
        <li>The IEDC texts can now be found in around 12 libraries and private collections in Europe, Afghanistan, Central Asia, Russia and China.</li>
    </ul>
    <p>For more, see <a href="https://invisibleeast.web.ox.ac.uk/resources-1">Research Tools</a>.</p>
</section>

<section class="container">
    <h3>The Invisible East Digital Corpus</h3>
    <h4>What is the IEDC?</h4>
    <ul class="bullet-image">
        <li>IEDC is a database devoted to the text fragments from the medieval Islamicate East that are already in the public domain but scattered and not easily accessible.</li>
        <li>The IEDC also includes seals and bullae preserved on documents.</li>
    </ul>
    <h4>How did the project begin?</h4>
    <ul class="bullet-image">
        <li>The IEDC was founded in 2019 by <a href="https://invisibleeast.web.ox.ac.uk/people/new-person-template-0">Arezou Azad </a>to digitize transcriptions and translations of documents from the Islamicate East. The first transcriptions uploaded are those of IE Board members, <a href="https://invisibleeast.web.ox.ac.uk/people/nicholas-sims-williams">Nicholas Sims-Williams</a> and <a href="https://invisibleeast.web.ox.ac.uk/people/geoffrey-khan">Geoffrey Khan</a>.</li>
        <li>Through the Invisible East programme, the IEDC has come to include transcriptions and translations by many other researchers, as well as descriptions and research aids.</li>
        <li>Version 1.x of the IEDC, launched in December 2023, includes high-resolution images.</li>
    </ul>
    <h4>What is the Invisible East programme? Is it the same as the IEDC?</h4>
    <ul class="bullet-image">
        <li>The IE programme is currently funded by the European Research Council (ERC) under the European Union's Horizon 2020 research and innovation programme (Go.Local project, grant agreement number 851607) and by the Arts and Humanities Research Council grant for the Persdoc project.</li>
        <li>For more, see <a href="https://invisibleeast.web.ox.ac.uk/about">Who we are</a> in the IE's programme site.</li>
    </ul>
    <h4>For whom is the Invisible East programme intended?</h4>
    <ul class="bullet-image">
        <li>The IE programme serves as a resource for professional document researchers, but it has been set up to be accessible to non-specialists, including students and the public.</li>
        <li>Anyone interested in the social and economic history of the medieval and early modern Middle East, Central, and its multiconfessional communities can benefit from the IEDC.</li>
        <li>Other disciplines can make use of our perspectives, resources, and approaches, e.g., other digital humanities projects, linguists, open source advocates, librarians, archivists and software engineers.</li>
    </ul>
    <h4>What are the aims of the IEDC?</h4>
    <ul class="bullet-image">
        <li>to provide access to documents from the Islamicate East (Iran, Afghanistan and Central Asia) and the interim products of scholarship on the texts, including unpublished notes and research tools by and for scholars in the field;</li>
        <li>to facilitate access to documents in order to fuel research into premodern global history;</li>
        <li>to capture all the documentary texts from the Bamiyan Papers (aka &ldquo;Afghan Genizah&rdquo;), and related caches from Afghanistan, such as the Firuzkuh Papers and the Bactrian documents, as well as medieval documents from Iran, such as the Tabaristan archives.</li>
    </ul>
    <h4>How are IEDC entries structured?</h4>
    <ul class="bullet-image">
        <li>IEDC records include five kinds of information:</li>
        <ul class="bullet-image">
            <li><strong>Classifications.</strong> Each document is titled with a shelfmark (the call-number in the collection where it's housed) and classed into one of six <a href="https://docs.google.com/document/d/e/2PACX-1vQP8TvNH7b8bysPwN64A3_oUu4zCoHtEHUWdSXQYrx0_RZAU9QNdcof_pm-cF-rH7ObEa5W8be2Zl7b/pub">types</a>, as an adaptation from the long-established <a href="https://geniza.princeton.edu/en/">Princeton Geniza Project</a>: legal document, letter, list or table, paraliterary text, or state/administrative document.</li>
            <li><strong>Descriptive information.</strong> Two-thirds of our entries have detailed descriptions of the document's contents. Many also have #tags, but tags aren't comprehensive; they merely represent the interests of the researchers who have done the tagging.</li>
            <li><strong>Images.</strong> We currently display images from three collections: the National Library of Israel, the Afghanistan National Archives, and the Khalili Collections (in Bactrian, Arabic and New Persian). The images are displayed in conformity with the International Image Interoperability Framework (IIIF). As more geniza-holding institutions adopt the IIIF, we will add their images to our site.</li>
            <li><strong>Transcriptions.</strong> Because it can be challenging to read the handwriting of medieval scribes, scholars produce typewritten copies that can be read easily and searched digitally. Transcriptions are also referred to as scholarly editions. The IEDC currently has 88 transcriptions, with more to come.</li>
            <li><strong>Scholarship records.</strong> Our records list who has transcribed the document (as well as whether the transcription has been published, and if so, where). They also list the published books and articles or unpublished notes from which we have derived the information in our descriptions.</li>
        </ul>
    </ul>
    <h4>Can you briefly describe your data model?</h4>
    <ul class="bullet-image">
        <li>First: what is a data model? A data model is a way to organize different types of data (some examples in our case: documents, fragments, images and descriptions), and to standardize how they relate to each other.</li>
        <li>At the core of our data model is a many-to-many relationship between physical <em>fragments</em> and the textual units that we call <em>documents</em>. A single <em>fragment</em> can contain multiple <em>documents</em>, as when a scribe used the blank back of a page to write another text). Conversely, a single <em>document</em> can be written across multiple <em>fragments</em>, as when a text was torn and the pieces now have different classmarks, and/or are in different libraries.</li>
    </ul>
    <h4>Which philological transcription conventions do you follow?</h4>
    <ul class="bullet-image">
        <li>The IEDC has followed varying sets of transcription conventions, sometimes reflecting the choices of the text-editors whose editions we have digitized.</li>
        <li>The IEDC transcription conventions are <a href="chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https:/www.cambridge.org/core/services/aop-file-manager/file/57d83390f6ea5a022234b400/TransChart.pdf">IJMES Arabic for Arabic and Persian, plus IJMES Persian for Persian-only letters</a> (گ, پ, ژ).</li>
    </ul>
    <h4>How do I get involved with IEDC?</h4>
    <ul class="bullet-image">
        <li>We have a team of dedicated and talented researchers who have come to us from many directions. They include undergraduates, graduate students, postdocs and faculty at Oxford and other institutions, as well as teachers, librarians and other professionals interested in Islamic and Iranian studies.</li>
        <li>If you would like to contribute information to the IEDC, we'll soon be adding links to document records through which you can add suggestions. In the meantime, please contact us at: invisible_east@ames.ox.ac.uk.</li>
        <li>If you would like to work for Invisible East, write to us. We welcome inquiries from students and researchers, as well as data specialists, software developers and machine learning experts with ideas for specific research projects or modules.</li>
    </ul>
</section>

<section class="container">
    <h3>Skills</h3>
    <h4>What languages do I need to know to read IEDC texts?</h4>
    <ul class="bullet-image">
        <li>We are including many English translations in the IEDC.</li>
        <li>If you want to read documents in the original, the main language you need is Bactrian (Iranian language using Greek script), New Persian (Persian written in the Arabic alphabet), Judeo-Persian (Persian Arabic written in the Hebrew alphabet).</li>
        <li>There are also many documents in Arabic, Middle Persian, and Sogdian that are being added constantly.</li>
        <li>For more on the languages that are useful for studying IEDC fragments, see <a href="https://invisibleeast.web.ox.ac.uk/resources-1">Research Tools</a>.</li>
    </ul>
    <h4>Wait. This Persian doesn't look like the Persian I learned how to read. What's up with that?</h4>
    <ul class="bullet-image">
        <li>Modern, printed Persian is derived from book script, a formal register of Persian that book scribes wrote when they were getting paid to copy a text or trying to impress their readers. Scribes writing for everyday purposes tended to use more informal handwriting, with varying degrees of cursiveness. Moreover, the Persian in the IEDC corpus is some of the oldest surviving Persian in the original in the world, where writing conventions were different to what appeared several centuries later. For a timeline of Persian writing, see this <a href="https://invisibleeast.web.ox.ac.uk/timeline-landing-page">chart</a>.</li>
        <li>Learning to read premodern handwritten Persian is a skill that can be mastered with time and motivation. (You might want to start with this <a href="chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https:/invisibleeast.web.ox.ac.uk/sites/default/files/invisibleeast/documents/media/persian_paleography_guide_20.07.2020.pdf">palaeography guide </a>created by Pejman Firoozbakhsh for Invisible East researchers and anyone interested.</li>
    </ul>
    <h4>Why are there so few dots in the Persian and Arabic documents, and how on earth do you expect me to make sense of these scribbles?</h4>
    <ul class="bullet-image">
        <li>Documentary Arabic and Persian hands are notoriously difficult to decipher. These are some of the challenges:</li>
        <ul class="bullet-image">
            <li>a dearth of canonical dots, which renders many letter-shapes ambiguous; the sporadic dot phenomenon inspired this <a href="https://www.dropbox.com/s/2kzd09zm5qs5pdb/Kaplony_2008_What%20are%20those%20few%20dots%20for.pdf?dl=0">classic study</a></li>
            <li>scribes' reluctance to lift the pen, which created abusive ligatures, or strokes connecting letters that in standard Arabic and Persian writing should remain unconnected</li>
            <li><em>Verschleifung</em> (literally, &ldquo;slurring&rdquo;) pen-strokes so that letters are skipped or subsumed into other letters and an abusive ligature after the <em>alif</em></li>
        </ul>
    </ul>
    <h4>Which additional skills do I need to study the IEDC documents?</h4>
    <ul class="bullet-image">
        <li>Patience and spreadsheets.</li>
        <li>Patience is essential because the texts haven't been studied in depth for long.</li>
        <li>Good record-keeping is essential because there are thousands of documents in no particular order. If you have worked in an archive, you may have had the luxury of someone else creating order before your arrival. If you work with IEDC fragments, you're often assembling your own archives (or dossiers, which is the technical term to use when the material you're assembling wasn't actually archived). We use lots of spreadsheets.</li>
        <li>Other technical skills one can expect to pick up include understanding how legal documents are structured, recognizing scribes by their handwriting, recognizing the names of coins and units of weights and measurement and learning the patterns of shelfmarks in dozens of library collections.</li>
    </ul>
    <p>For more, check out our <a href="https://invisibleeast.web.ox.ac.uk/resources-1">Research Tools</a> page!</p>
    <h4>Is It Bamiyan Papers or Afghan Geniza(h)?</h4>
    <ul class="bullet-image">
        <li>The National Library was quick to attach the term Geniza(h) to the caches of documents coming from Afghanistan, echoing the name of the well-known &ldquo;Cairo Geniza&rdquo;. However, in this case, there is no evidence that the documents came from a geniza, which is a Hebrew term that refers to storage places for disused papers attached to a synagogue. Rather, Invisible East researchers have been identifying many place names in the document that locate the papers in the Bamiyan area.</li>
    </ul>
    <h4>Are the texts unprovenanced, and if so, what are the ethical issues around working with these documents?</h4>
    <ul class="bullet-image">
        <li>Many of the texts have unclear, undocumented provenance. This poses an ethical dilemma to researchers as we do not wish to give legitimacy or encourage the purchase of unprovenanced materials. In the case of Afghanistan, conflict and poverty have made it difficult for Afghanistan's authorities to regulate the transfer of cultural heritage or develop an advocacy platform. We hope that the international community will support the government of Afghanistan in developing an effective regulatory system as well as a broader safeguarding and preservation strategy. As for materials that are already in the public domain, it is important for Afghans and the wider community of scholars and the general audience to obtain access to them and learn about their content and historical interpretations: the IEDC is one such information sharing platform.</li>
    </ul>

</section>

{% include 'snippets/footer.html' %}

{% endblock %}