{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container">
    <h2>How to Cite</h2>
    <p>
        <strong>Anyone is welcome to use our transcriptions and descriptions, but please cite them accordingly.</strong>
    </p>
    <p>
        Some general principles, with examples:
    </p>
    <p>
        <strong><em>Always</em> mention the shelfmark when citing a fragment.</strong>
    </p>
    <p>
        Example:
    </p>
    <ul class="bullet-image">
        <li>
            Letter from Abu Bakr b. ʿUmar. National Library of Israel, Ms.Heb.8333.88.
        </li>
    </ul>
    <p>
        <strong>Transcriptions that come from print editions should acknowledge the original publication.</strong>
    </p>
    <p>
        Example:
    </p>
    <ul class="bullet-image">
        <li>
            Khalili Arabic 29, ed. Geoffrey Khan, <em>Arabic Documents from Early Islamic Khurasan</em>(London: The Nour Foundation in association with Azimuth Editions, 2007)&lrm;, pp. 152-54.
    </li>
    </ul>
    <p>
        <strong>Transcriptions that IEDC lists as unpublished should be cited with credit to the editor(s) who transcribed the text and to IEDC.</strong>
    </p>
    <p>
        Example:
    </p>
    <ul class="bullet-image">
        <li>
            Afghanistan National Archives, Firuzkuh 8, O.Haim et al., unpublished translation available online through the Invisible East programme.
        </li>
    </ul>
</section>

{% include 'snippets/footer.html' %}

{% endblock %}