{% extends "base.html" %}
{% load static i18n %}

{% block main %}

<section class="container">
    <h2>{% translate "Glossary of technical terms used in IEDC" %}</h2>
    <h3>{% translate "data ontology" %}</h3>
    <ul class="bullet-image">
        <li>{% translate "<strong>document:</strong> a discrete unit of text" %}</li>
        <li>{% translate "<strong>fragment:</strong> a discrete piece of material support" %}</li>
    </ul>
    <p><em>{% translate "A fragment can have more than one document written on it; a document can be comprised of more than one fragment." %}</em></p>
    <h3>{% translate "manuscript structure" %}</h3>
    <ul class="bullet-image">
        <li>{% translate "<strong>folio:</strong> a page, including front (recto) and back (verso)" %}</li>
        <li>{% translate "<strong>bifolio:</strong> a page folded once to yield four writing surfaces (two rectos, two versos)" %}</li>
        <li>{% translate "<strong>recto:</strong> the front of the page" %}</li>
        <li>{% translate "<strong>verso:</strong> the back of the page" %}</li>
    </ul>
    <p><em>{% translate "During this period, paper, parchment, and other writing materials were frequently reused. This practice often resulted in two entirely unrelated texts being written on the front (recto) and back (verso) of the same piece of paper, parchment, or other writing support. In our corpus, if the recto and verso are connected or if the verso is left blank, the document is generally assigned a single shelfmark, e.g. 'Ms.Heb.8333.99.' Conversely, when the recto and verso are unrelated, each side is given its own distinct shelfmark, e.g. 'Ms.Heb.8333.67recto' and 'Ms.Heb.8333.67verso'." %}</em></p>
    <ul class="bullet-image">
        <li>{% translate "<strong>quire:</strong> several bifolios nested like a pamphlet" %}</li>
        <li>{% translate "<strong>codex:</strong> several quires sewn together to form a book" %}</li>
        <li>{% translate "<strong>rotulus:</strong> a vertical scroll (text is written parallel to the short side of the page)" %}</li>
        <li>{% translate "<strong>writing support:</strong> the material substrate to which the scribe applies ink. In the documents from the Islamicate East, paper is the most common support, followed by parchment; a few pieces are written on cloth." %}</li>
    </ul>
    <h3>{% translate "physical condition" %}</h3>
    <ul class="bullet-image">
        <li>{% translate "<strong>lacuna:</strong> a gap in the text where the writing support has torn" %}</li>
    </ul>
    <h3>{% translate "scholarship" %}</h3>
    <ul class="bullet-image">
        <li>{% translate "<strong>discussion:</strong> a passage in a book or article in which a scholar has offered an interpretation of a document or part of a document" %}</li>
        <li>{% translate "<strong>transcription:</strong> copy of a text, whether typed or handwritten" %}</li>
        <li>{% translate "<strong>edition:</strong> a revised, corrected or annotated version of a text from a manuscript" %}</li>
        <li>{% translate "<strong>palaeography:</strong> decipherment; also the study of old scripts, often for the purpose of determining when an undated manuscript was written or identifying the scribe who wrote it" %}</li>
    </ul>
    <h3>{% translate "dating and calendar systems" %}</h3>
    <p>{% translate 'IEDC documents use a range of calendar systems depending on the document&rsquo;s use and provenance. Many documents are not explicitly dated. For those that are, the dates are included in each entry, both as given on the document and as converted to common era dating. You can also convert dates yourself using this <a href="https://www.muqawwim.com/">calendar converter</a>.' %}</p>
    <p>{% translate "The following is a non-exhaustive list of the most common dating systems you will encounter in IEDC documents, as well as their relationship to common era dates." %}</p>
    <ul class="bullet-image">
        <li>{% translate "<strong>Common Era (CE):</strong> This is the western calendar in everyday use, originally the Julian calendar, established in 45 BCE (before the common era), then, after the papal calendar reform of 1582 CE, the Gregorian calendar. Converted dates in IEDC entries are all in the Gregorian calendrical system." %}</li>
        <li>{% translate "<strong>Hijrī calendar (AH)</strong>: The Islamic calendar, a lunar calendar of twelve months. The lunar year is 11 days shorter than the solar year, so the months slip backwards relative to the solar calendar (so Ramaḍān can fall in any season). The hijrī is calculated from 622 CE, the year when Muḥammad and his followers migrated from Mecca to Medina." %}</li>
        <li>{% translate "<strong>Era of Bactrian Docments (EBD)</strong>: The exact start date of the Bactrian calendar has been debated, but the consensus seems to be that it starts in Nawrūz/October 223 AD which coincides with the accession year of the Sasanian king." %}</li>
    </ul>
    <p>{% translate "Ardashīr I (r. 224&ndash;42). This dating is reflected in the reworked edition of the Bactrian Documents, following the argumentation of Fran&ccedil;ois de Blois. Months and days are either Bactrian, or Zoroastrian-influenced." %}</p>
    <ul class="bullet-image">
        <li>{% translate "<strong>Seleucid calendar (Sel. or SE; also Anno Graecorum or AG)</strong>: Though this calendar is now obsolete in Jewish practice, for the numbering of years, it is the most common calendar found in Cairo Geniza documents. It is used only for years, and calculated from Seleucus I Nicator&rsquo;s reconquest of Mesopotamia in 312&ndash;11 BCE. There were variants of the Seleucid era used in the Middle Ages. The Seleucid era in Jewish documents was deemed to begin on 1 Tishri 312 BCE. In practice, to convert a Seleucid date to CE, if the day falls before 1 Tishri, subtract 311 from the Seleucid year; if after, subtract 312." %}</li>
    </ul>
</section>

{% include 'snippets/footer.html' %}

{% endblock %}