{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Glossary</h2>
    <h3>data ontology</h3>
    <ul class="bullet-image">
        <li><strong>document:</strong> a discrete unit of text</li>
        <li><strong>fragment:</strong> a discrete piece of material support</li>
    </ul>
    <p><em>A fragment can have more than one document written on it; a document can be comprised of more than one fragment.</em></p>
    <h3>manuscript structure</h3>
    <ul class="bullet-image">
        <li><strong>folio:</strong> a page, including both front (recto) and back (verso)</li>
        <li><strong>bifolio:</strong> a page folded once to yield four writing surfaces (two rectos, two versos)</li>
        <li><strong>recto:</strong> the front of the page</li>
        <li><strong>verso:</strong> the back of the page</li>
    </ul>
    <p><em>During this period, paper, parchment, and other writing materials were frequently reused. This practice often resulted in two entirely unrelated texts being written on the front (recto) and back (verso) of the same piece of paper, parchment, or other writing support. In our corpus, if the recto and verso are connected or if the verso is left blank, the document is assigned a single shelfmark, e.g. 'Ms.Heb.8333.99.' Conversely, when the recto and verso are unrelated, each side is given its own distinct shelfmark, e.g. 'Ms.Heb.8333.67recto' and 'Ms.Heb.8333.67verso'.</em></p>
    <ul class="bullet-image">
        <li><strong>quire:</strong> several bifolios nested like a pamphlet</li>
        <li><strong>codex:</strong> several quires sewn together to form a book</li>
        <li><strong>rotulus:</strong> a vertical scroll (text is written parallel to the short side of the page)</li>
        <li><strong>writing support:</strong> the material substrate to which the scribe applies ink. In the documents from the Islamicate East, rag paper is the most common support, followed by parchment; a few pieces are written on cloth.</li>
    </ul>
    <h3>physical condition</h3>
    <ul class="bullet-image">
        <li><strong>lacuna:</strong> a gap in the text where the writing support has torn</li>
    </ul>
    <h3>scholarship</h3>
    <ul class="bullet-image">
        <li><strong>discussion:</strong> a passage in a book or article in which a scholar has offered an interpretation of a document or part of a document</li>
        <li><strong>transcription:</strong> copy of a document, whether typed or handwritten</li>
        <li><strong>edition:</strong> a transcription that renders the document from manuscript to print</li>
        <li><strong>paleography:</strong> decipherment; also the study of old scripts, often for the purpose of determining when an undated manuscript was written or identifying the scribe who wrote it</li>
        <li><strong>unpublished edition:</strong> an edition from a scholar's corpus not previously published before their inclusion and display in our database; these editions were not found formally printed before digital publication by IEDC and are not peer-reviewed as other modern editions might be when published in a book or journal</li>
    </ul>
    <h3>genres of text</h3>
    <ul class="bullet-image">
        <li><strong>legal deed:</strong> a contract, testimony or other document produced by or for a legal court, often with probative or dispositive value</li>
        <li><strong><em>piyyut</em>:</strong> liturgical poetry (Hebrew; pl. <em>piyyutim</em>)</li>
        <li><strong><em>responsum</em>:</strong> answer to a legal query by a and Islamic or rabbinic authority, usually made in writing (Latin; pl. <em>responsa, </em>Ar. <em>istifṭā</em>)</li>
    </ul>
    <h3>dating and calendar systems</h3>
    <p>IEDC documents use a range of calendar systems depending on the document&rsquo;s use and provenance. Many documents are not explicitly dated. For those that are, the dates are included in each entry, both as given on the document and as converted to common era dating. You can also convert dates yourself using this <a href="https://www.muqawwim.com/">calendar converter</a>.</p>
    <p>The following is a non-exhaustive list of the most common dating systems you will encounter in IEDC documents, as well as their relationship to common era dates.</p>
    <ul class="bullet-image">
        <li><strong>Common Era (CE):</strong> This is the western calendar in everyday use, originally the Julian calendar, established in 45 BCE (before the common era), then, after the papal calendar reform of 1582 CE, the Gregorian calendar. Converted dates in IEDC entries are Julian before 1582, Gregorian after 1582 (regardless of whether the community in question adopted the Gregorian calendar in 1582 or later; in the latter case, this is known as the <em>proleptic</em> Gregorian calendar, and is a convention among modern historians).</li>
        <li><strong>Anno Mundi (AM):</strong> The Jewish calendar, based on the biblical accounts of the world&rsquo;s creation, calculated from sunset on 6 October 3761 BCE (according to the proleptic Julian calendar). The Jewish calendar as it developed over the first millennium CE is lunisolar: the months are lunar and change with the new moon, but the years must remain in line with the agricultural (solar) calendar. The Jewish months don&rsquo;t slip backwards as the Islamic months do (see Hijri calendar below). The Jewish year consists of either twelve or thirteen months, alternating in a regular pattern over a nineteen-year cycle, and beginning on 1 Tishri, which falls in late August or September. The months are Tishri (or Tishrei), Ḥeshvan (or Marḥeshvan), Kislev, Ṭevet, Shevaṭ, Adar, Nisan, Iyyar, Sivan, Tammuz, Av and Elul. In leap-years, there is a second month of Adar before Nisan.</li>
        <li><strong>Hijrī</strong> <strong>calendar (AH)</strong>: The Islamic calendar, a lunar calendar of twelve months. The lunar year is 11 days shorter than the solar year, so the months slip backwards relative to the solar calendar (so Ramaḍān can fall in any season). The hijrī is calculated from 622 CE, the year when Muḥammad and his followers migrated from Mecca to Medina.</li>
        <li><strong>Era of Bactrian Docments (EBD)</strong>: The exact start date of the Bactrian calendar has been debated, but the consensus seems to beThat it starts in Nawrūz/October 223 AD which coincides with the accession year of the Sasanian king</li>
    </ul>
    <p>Ardashīr I (r. 224&ndash;42). This dating is reflected in the reworked edition of the Bactrian Documents, following the argumentation of Fran&ccedil;ois de Blois. Months and days are either Bactrian, e.g. &ldquo;month of Sabul&rdquo; (BT I O), &ldquo;month of Ab, day of Wahman&rdquo; (BTI P), &ldquo;the month Second New-year, the dayDin&rdquo; (BTIQ dated 449 EBD), or Zoroastrian-influenced month names which appear from247 EBD onwards (BT I F dated 247 EBD mentions the month of Ardibehesht). Fran&ccedil;ois de Blois, &ldquo;Du nouveau sur la chronologie bactrienne posthell&eacute;nistique: l&rsquo;&egrave;re de 223&ndash;4 ap. J.-C.&rdquo;. Nicholas Sims-Williams. <em>Bactrian Documents from Northern Afghanistan I: Legal and Economic Documents</em> (Studies in the Khalili Collection vol. 3; Corpus Inscriptionum Iranicarum; pt. 2, vol. 6.). Rev. Ed. Oxford: The</p>
    <p>Nour Foundation in association with Azimuth Editions and Oxford University Press, 2012 [c2000, 2001].</p>
    <ul class="bullet-image">
        <li><strong>Seleucid calendar (Sel. or SE; also Anno Graecorum or AG)</strong>: Though this calendar is now obsolete in Jewish practice, for the numbering of years, it is the most common calendar found in geniza documents. It is used only for years, and calculated from Seleucus I Nicator&rsquo;s reconquest of Mesopotamia in 312&ndash;11 BCE. There were variants of the Seleucid era used in the Middle Ages. The Seleucid era in Jewish documents was deemed to begin on 1 Tishri 312 BCE. In practice, to convert a Seleucid date to CE, if the day falls before 1 Tishri, subtract 311 from the Seleucid year; if after, subtract 312.</li>
    </ul>
    <ul class="bullet-image">
        <ul class="bullet-image">
            <li><strong><em>Examples:</em></strong></li>
            <ul class="bullet-image">
                <li><em>29 Elul 1311 Sel. = 29 Elul 1000 CE = 1 September 1000 CE</em></li>
                <li><em>1 Tishri 1312 Sel. = 1 Tishri 1000 CE = 2 September 1000 CE</em></li>
            </ul>
        </ul>
    </ul>
</section>

{% include 'snippets/footer.html' %}

{% endblock %}