{% extends "base.html" %}
{% load static settings_value i18n %}

{% block main %}

<section class="container">
    <h2>{% translate "Technical" %}</h2>
    <p>
        {% translate "The Invisible East Digital Corpus version" %} ({% settings_value 'VERSION' %}) {% translate "is a web application developed using the following technologies:" %}
        <ul class="bullet-image">
            <li>Django</li>
            <li>Python</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>PostgreSQL</li>
        </ul>
    </p>
    <p>
        {% translate "You can view the code used to build the IEDC in the project's" %} <a href="https://github.com/invisibleeast/invisible-east-website" target="_blank">{% translate "GitHub repository" %}</a>{% translate "afterlink-github" %}
    </p>
    <p>
        {% translate "You can also access the code via Zenodo with the" %} <a href="https://zenodo.org/records/13220978" target="_blank">DOI 13220978</a>{% translate "afterlink-zenodo" %}
    </p>
    <p>
        {% translate "The IEDC was developed by" %} <a href="https://ahrsoftware.co.uk/" target="_blank">AHR Software</a> {% translate "for the Invisible East programme" %}.
    </p>
</section>

{% include 'snippets/footer.html' %}

{% endblock %}