{% extends "base.html" %}
{% load static settings_value %}

{% block main %}

<section class="container">
    <h2>Technical</h2>
    <p>
        The Invisible East Digital Corpus (version {% settings_value 'VERSION' %}) is a web application developed using the following technologies:
        <ul class="bullet-image">
            <li>Django</li>
            <li>Python</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>PostgreSQL</li>
        </ul>
    </p>
    <p>
        You can view the code used to build the IEDC in the project's <a href="https://github.com/invisibleeast/invisible-east-website" target="_blank">GitHub repository.</a>
    </p>
    <p>
        The IEDC was developed by <a href="https://ahrsoftware.co.uk/" target="_blank">AHR Software</a> for the Invisible East project.
    </p>
</section>

{% include 'snippets/footer.html' %}

{% endblock %}