{% extends "base.html" %}
{% load static settings_value %}

{% block main %}

<section id="welcome-banner">
    <img id="welcome-banner-icon" src="{% static 'images/logos/ie-icon/ie-icon-small.png' %}" alt="Invisible East project icon">
    <div id="welcome-banner-title">
        Invisible East
    </div>
    <div id="welcome-banner-tagline">
        Bringing the medieval Islamicate East to the forefront of research
    </div>
    <a id="welcome-banner-link" href="{% url 'corpus:text-list' %}" class="bubblelink">
        <i class="fas fa-search"></i> Search the Corpus
    </a>
    <i id="welcome-banner-more" class="fas fa-chevron-down"></i>
</section>

<section class="container">
    <h2>Welcome</h2>
    <p>
        Welcome to Invisible East. We are a research programme at the University of Oxford’s Faculty of Asian and Middle Eastern Studies that studies the 8th-13th century Islamicate world in Iran, Afghanistan and Central Asia. We transcribe, translate and analyse some of the oldest texts written in New Persian, Judeo-Persian, Arabic, Bactrian, Sogdian, Khotanese and Middle Persian, in order to shed new light on political, financial and legal infrastructures, and religious diversity of the region.
    </p>
    <p>
        The programme is financed until 2025 with a core staff of seven researchers funded by the Arts and Humanities Research Council (AHRC) and European Research Council (ERC) respectively in the Go.Local and PersDoc projects, both of which are led by Senior Research Fellow Arezou Azad.
    </p>
    <p>
        This website hosts our open digital corpus, which you can read more about below. If you'd like to find out more about the Invisible East project please visit <a href="https://invisibleeast.web.ox.ac.uk/">our project website</a> where you can read more about:
    </p>
    <ul>
        <li><a href="https://invisibleeast.web.ox.ac.uk/team">Our team</a></li>
        <li><a href="https://invisibleeast.web.ox.ac.uk/news">Publications, blogs, and news</a></li>
        <li><a href="https://invisibleeast.web.ox.ac.uk/events">Events</a></li>
        <li><a href="https://invisibleeast.web.ox.ac.uk/node/3022231">Outreach</a></li>
        <li><a href="https://invisibleeast.web.ox.ac.uk/resources-1">Research Tools</a></li>
    </ul>
</section>

<section class="container">
    <h2>The Invisible East Digital Corpus</h2>
    <p>
        Details about the corpus... (inc link to the corpus)
    </p>
    <p>
        ...
    </p>
</section>

<section class="container">
    <h2>A Message from Arezou</h2>
    <img src="{% static 'images/arezou-azad.jpg' %}" alt="Arezou Azad" class="image-circle">
    <p>
        Hi, I'm Arezou Azad, a Senior Research Fellow at the University of Oxford and the Invisible East programme lead...
    </p>
</section>

<!-- Footer -->
<footer id="footer" class="container-fluid">
    <!-- Content -->
    <div id="footer-content" class="container-fluid">

        <div id="footer-content-logos">
            <!-- Oxford -->
            <a href="https://www.ox.ac.uk/" target="_blank"><img src="{% static 'images/logos/oxford-logo.png' %}" alt="Oxford University logo"></a>
            <!-- AHRC -->
            <a href="https://www.ukri.org/councils/ahrc/" target="_blank"><img src="{% static 'images/logos/ahrc-logo.png' %}" alt="Arts and Humanities Research Council logo"></a>
            <!-- ERC -->
            <a href="https://erc.europa.eu/homepage" target="_blank"><img src="{% static 'images/logos/erc-logo.png' %}" alt="European Research Council logo"></a>
            <!-- Alexander von Humboldt Foundation -->
            <a href="https://www.humboldt-foundation.de/en/" target="_blank"><img src="{% static 'images/logos/avhs-logo.png' %}" alt="Alexander von Humboldt Foundation"></a>
        </div>

        <div id="footer-content-social">
            <a title="instagram" id="footer-content-social-instagram" href="https://www.instagram.com/invisible_east/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a title="facebook" id="footer-content-social-facebook" href="https://www.facebook.com/InvisibleEast.Official" target="_blank"><i class="fab fa-facebook"></i></a>
            <a title="twitter" id="footer-content-social-twitter" href="https://twitter.com/invisible_east" target="_blank"><i class="fab fa-twitter"></i></a>
            <a title="youtube" id="footer-content-social-youtube" href="https://www.youtube.com/channel/UC-sicCra2ugvOyjOL9VP_BQ" target="_blank"><i class="fab fa-youtube"></i></a>
            <a title="linkedin" id="footer-content-social-linkedin" href="https://www.linkedin.com/company/invisible-east" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>

        <div id="footer-content-text">
            <p>
                Invisible East is a research project led by <a href="https://www.ames.ox.ac.uk/people/arezou-azad" target="_blank">Arezou Azad</a> within the
                
                <a href="https://www.ames.ox.ac.uk/" target="_blank">Faculty of Asian and Middle Eastern Studies</a>, University of Oxford
            </p>
            <p>
                Invisible East Offices, Room 17, St Antony’s College, 62 Woodstock Road, Oxford OX2 6JF
            </p>
            <p>
                This project has received funding from the European Research Council (ERC)
                <br>
                under the European Union’s Horizon 2020 research and innovation programme (grant agreement No 851607)
            </p>
            <p>
                <a href="https://www.ox.ac.uk/privacy-policy" target="_blank">Privacy</a> |
                <a href="https://www.ox.ac.uk/legal" target="_blank">Legal</a> |
                <a href="{% url 'general:cookies' %}">Cookies</a> |
                <a href="{% url 'general:accessibility' %}">Accessibility</a> |
                {% if user.is_authenticated %}
                    <a href="{% url 'account:account' %}">Account</a>
                {% else %}
                    <a href="{% url 'account:login' %}">Login</a>
                {% endif %}
            </p>
            <p>
                © University of Oxford {% now "Y" %}
            </p>
        </div>

    </div>
</footer>

{% endblock %}