{% extends "base.html" %}
{% load static settings_value %}

{% block main %}

<section id="welcome-banner">
    <img id="welcome-banner-icon" src="{% static 'images/logos/ie-icon/ie-icon-small.png' %}" alt="Invisible East project icon">
    <div id="welcome-banner-title">
        Invisible East Digital Corpus
    </div>
    <div id="welcome-banner-tagline">
        Bringing the medieval Islamicate East to the forefront of research
    </div>
    <a id="welcome-banner-link" href="{% url 'corpus:text-list' %}" class="bubblelink">
        <i class="fas fa-search"></i> Search the Corpus
    </a>
    <i id="welcome-banner-more" class="fas fa-chevron-down"></i>
</section>

<section class="container">
    <h2>Welcome</h2>
    <p>
        Ever wonder what people like you and me did 800 years ago?
    </p>
    <p>
        How did they communicate with one another?
    </p>
    <p>
        What language did they use?
    </p>
    <p>
        Was life very different?
    </p>
    <p>
        What did people eat?
    </p>
    <p>
        Well, documents give insight into these day-to-day matters. The digital tool contained in this website provides searchable meta-data, tags, and images on documents - letters, contracts, notes-to-self, and many more bits of day-to-day writing - that were written in Iran, Afghanistan, and Central Asia at a time when Islam was still relatively new to the area, and when multicultural societies coexisted.
    </p>
    <p>
        Our corpus website is aimed at making publicly available academic research on the documents to academics in any country of the world, as well as to wider audiences who are interested in the history and cultures of a fascinating and understudied region of the world. 
    </p>
    <p>
        If you'd like to find out more about the Invisible East project please visit <a href="https://invisibleeast.web.ox.ac.uk/">our project website</a> where you can read more about:
    </p>
    <ul>
        <li><a href="https://invisibleeast.web.ox.ac.uk/team">Our team</a></li>
        <li><a href="https://invisibleeast.web.ox.ac.uk/news">Publications, blogs, and news</a></li>
        <li><a href="https://invisibleeast.web.ox.ac.uk/events">Events</a></li>
        <li><a href="https://invisibleeast.web.ox.ac.uk/node/3022231">Outreach</a></li>
        <li><a href="https://invisibleeast.web.ox.ac.uk/resources-1">Research Tools</a></li>
    </ul>
</section>

<section class="container">
    <h2>The Invisible East Digital Corpus</h2>
    <p>
        At Invisible East our mission is to digitise an expansive corpus of texts which have long been overlooked. The corpus is a combination of various caches of texts dating from the 8th-13th centuries and originating from Afghanistan, Iran and Central Asia.
    </p>
    <p>
        Together these texts present a new and exciting history of the region. A history which is not told through kings and courts, but rather through the day to day lives of regular people - their families, their communities, their professions and their faith. Written in languages, like New Persian, Judeo-Persian, Middle Persian, Arabic, Bactrian, Sogdian, Khotanese and Sanskrit, these manuscripts show an immense variety - from deeds of sale, legal proceedings, decrees and petitions to wedding certificates and personal letters.
    </p>
    <p>
        Our goal is to unite this vast range of texts in a single, publicly accessible database. By doing so, we hope to shed new light on a region, era and population that has remained 'invisible' for far too long.
    </p>
</section>

<section class="container">
    <h2>A Message from Arezou</h2>
    <img src="{% static 'images/arezou-azad.jpg' %}" alt="Arezou Azad" class="image-circle">
    <p>
        Hi, I'm Arezou Azad, Senior Research Fellow at the University of Oxford and Invisible East programme lead. I'm a historian and former UN civilian peacekeeper. I've had the privilege of working with a fantastic team on this digital corpus.
    </p>
    <p>
        This is the first multilingual database that contains documents from the medieval Islamicate East - Iranian-language documents, in particular, have had little "airtime," until now, while documents in other languages, such as Arabic and Hebrew, have enjoyed a considerable digitisation support for some decades now.
    </p>
    <p>
        Ultimately, the sharing of pre-modern Iranian-language and data and data in other languages enrich our knowledge of the layered history of humanity at a granular and very human level. This kind of knowledge unites, and I'm proud to be playing a part in its production.
    </p>
</section>

<!-- Footer -->
<footer id="footer" class="container-fluid">
    <!-- Content -->
    <div id="footer-content" class="container-fluid">

        <div id="footer-content-logos">
            <!-- Oxford -->
            <a href="https://www.ox.ac.uk/" target="_blank"><img src="{% static 'images/logos/oxford-logo.png' %}" alt="Oxford University logo"></a>
            <!-- AHRC -->
            <a href="https://www.ukri.org/councils/ahrc/" target="_blank"><img src="{% static 'images/logos/ahrc-logo.png' %}" alt="Arts and Humanities Research Council logo"></a>
            <!-- ERC -->
            <a href="https://erc.europa.eu/homepage" target="_blank"><img src="{% static 'images/logos/erc-logo.png' %}" alt="European Research Council logo"></a>
            <!-- Alexander von Humboldt Foundation -->
            <a href="https://www.humboldt-foundation.de/en/" target="_blank"><img src="{% static 'images/logos/avhs-logo.png' %}" alt="Alexander von Humboldt Foundation"></a>
        </div>

        <div id="footer-content-social">
            <a title="instagram" id="footer-content-social-instagram" href="https://www.instagram.com/invisible_east/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a title="facebook" id="footer-content-social-facebook" href="https://www.facebook.com/InvisibleEast.Official" target="_blank"><i class="fab fa-facebook"></i></a>
            <a title="twitter" id="footer-content-social-twitter" href="https://twitter.com/invisible_east" target="_blank"><i class="fab fa-twitter"></i></a>
            <a title="youtube" id="footer-content-social-youtube" href="https://www.youtube.com/channel/UC-sicCra2ugvOyjOL9VP_BQ" target="_blank"><i class="fab fa-youtube"></i></a>
            <a title="linkedin" id="footer-content-social-linkedin" href="https://www.linkedin.com/company/invisible-east" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>

        <div id="footer-content-text">
            <p>
                Invisible East is a research project led by <a href="https://www.ames.ox.ac.uk/people/arezou-azad" target="_blank">Arezou Azad</a> within the
                
                <a href="https://www.ames.ox.ac.uk/" target="_blank">Faculty of Asian and Middle Eastern Studies</a>, University of Oxford
            </p>
            <p>
                Invisible East Offices, Room 17, St Antony’s College, 62 Woodstock Road, Oxford OX2 6JF
            </p>
            <p>
                This project has received funding from the European Research Council (ERC)
                <br>
                under the European Union’s Horizon 2020 research and innovation programme (grant agreement No 851607)
            </p>
            <p>
                <a href="https://www.ox.ac.uk/privacy-policy" target="_blank">Privacy</a> |
                <a href="https://www.ox.ac.uk/legal" target="_blank">Legal</a> |
                <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}">Sitemap</a> |
                <a href="{% url 'general:cookies' %}">Cookies</a> |
                <a href="{% url 'general:accessibility' %}">Accessibility</a> |
                {% if user.is_authenticated %}
                    <a href="{% url 'account:account' %}">Account</a>
                {% else %}
                    <a href="{% url 'account:login' %}">Login</a>
                {% endif %}
            </p>
            <p>
                © University of Oxford {% now "Y" %}
            </p>
        </div>

    </div>
</footer>

{% endblock %}