@media (min-width: 992px) {

    /* ---------- Navigation ---------- */

    nav.navbar {
        height: 4.5rem;
    }

    .navbar-brand {
        padding-left: 0.3em;
    }

    .nav-link {
        margin-left: 0.7em;
        margin-right: 0.7em;
        margin-top: 0.2em;
    }

    .nav-link.active {
        border-bottom: 4px solid var(--color-secondary);
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 4rem;
        min-height: calc(100vh - 4rem);
    }

    /* ---------- Welcome ---------- */

    #welcome-banner {
        min-height: calc(100vh - 4rem);
        padding: 2rem;
    }

    #welcome-banner-title {
        font-size: 4em;
    }

    #welcome-banner-tagline {
        font-size: 1.6em;
    }

    /* ---------- Corpus: List ---------- */

    #corpus-text-list {
        width: calc(100% - 27em);
        margin-left: 27em;
    }

    #corpus-text-list-options-toggler {
        display: none;
    }

    #corpus-text-list-options {
        left: 0;
        height: calc(100vh - 4.5em);
    }

    #corpus-text-list-counts span {
        margin: 0 1rem;
        display: inline-block;
        vertical-align: middle;
    }

    .corpus-text-list-items-item {
        margin: 1.3rem 0;
    }

    .corpus-text-list-items-item-imagecontainer {
        display: inline-block;
        vertical-align: top;
        width: 13em;
        height: 13em;
    }

    .corpus-text-list-items-item-text {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 13.5em);
        padding: 0.7em 0.5em;
    }

    .corpus-text-list-items-item-booleans {
        position: absolute;
        bottom: 0;
        right: 15px;
    }

    #corpus-text-list-pagination {
        white-space: nowrap;
    }

    .corpus-text-list-pagination-section {
        white-space: normal;
        width: 33%;
        display: inline-block;
        vertical-align: middle;
    }

    /* ---------- Corpus - Text: Detail ---------- */

    #corpus-text-detail-content-tabs {
        border-bottom: 0.3em solid var(--color-secondary);
        margin: 1em 0 0 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    #corpus-text-detail-content-tabs li {
        display: inline-block;
        vertical-align: bottom;
        width: auto;
        margin-right: -5px;
        padding: 0.95em 1.3em 0.8em 1.3em;
    }

    #corpus-text-detail-content-tabs li:not(.active):hover {
        background: var(--color-primary-dark);
        color: rgba(255, 255, 255, 1);
    }

    .corpus-text-detail-content-details-datagroup-dataitem {
        line-height: 1em;
        margin: 0.5em 0;
        padding: 0.5em 0;
        border-bottom: 1px solid #E4E4E4;
    }

    .corpus-text-detail-content-details-datagroup-dataitem:last-of-type {
        border: none;
    }

    .corpus-text-detail-content-details-datagroup-dataitem label {
        display: inline-block;
        margin-right: 0.5em;
        vertical-align: top;
        text-align: left;
        width: 12em;
    }

    .corpus-text-detail-content-details-datagroup-dataitem span {
        width: calc(100% - 14em);
    }

    .corpus-text-detail-content-options {
        padding: 0 0.2em 0.2em 0.2em;
        margin-top: -1em;
    }

    .corpus-text-detail-content-options div {
        display: inline-block;
        margin: 0 1em;
    }

    #corpus-text-detail-content-tags-textfoliotag-form {
        left: 25vw;
        width: 50vw;
    }

}
