
/* ---------- General ---------- */

html, body {
    font-family: 'Catamaran', 'Helvetica', sans-serif;
    background: #F8F8F8;
    color: black;
    margin: 0;
    font-weight: 300;
}

a,
.link:not(.brokenlink) {
    color: #007688;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

a:hover,
.link:not(.brokenlink):hover {
    color: #007688;
    text-decoration: underline;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
}

h1 img {
    height: 1.8em;
}

h1 div {
    display: inline-block;
    font-weight: 600;
}

h2 {
    font-size: 2em;
    margin: 1.5em 0 0.8em 0;
    line-height: 1em;
    font-weight: 500;
    color: #007688;
    text-align: center;
}

h3 {
    font-size: 1.6em;
    line-height: 1em;
    font-weight: 500;
    margin: 1em 0 0.5em 0;
    color: #007688;
}

h4 {
    line-height: 1em;
    font-size: 1.2em;
    padding: 0.8em 0 0.1em 0;
}

hr {
    border-top: 0.4rem solid #121d29;
    width: 9rem;
    margin: 0.2em 0 1.3em 0;
}

table {
    width: 100%;
}

td,
th {
    border: 1px solid #AAA;
    padding: 0.3em;
    vertical-align: middle;
}

th {
    background: #007688;
    color: white;
    border: 1px solid #007688;
    font-weight: 400;
    text-align: center;
}

th.sortable {
    cursor: pointer;
}

tr.table-separator td,
tr.table-separator th {
    border: none;
}

td.align-left {
    text-align: left;
}

td.align-right {
    text-align: right;
}

p {
    margin: 0.5em 0;
    line-height: 1.7em;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    padding: 0.3em 1.3em 0.3em 0.3em;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    display: block;
    border: 1px solid #BBB;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    background-color: white;
}

select option,
.list-options-filters-filter select option {
    color: black;
}

strong {
    font-weight: 500;
}

em {
    font-style: italic;
}

.clearfloat {
    clear: both;
}

i.icon {
    margin-right: 0.3em;
    user-select: none;
}

.image-circle {
    border-radius: 100%;
    width: 13em;
    max-width: 90%;
    display: block;
    margin: 1em auto;
}

.hidden {
    display: none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;
    margin: 7em auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pdf-viewer-full {
    width: 95%;
    height: calc(100vh - 4em);
    display: block;
    margin: 1em auto;
    overflow: auto;
}

.pdf-viewer-download {
    clear: both;
    background: #007688;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    display: block;
    width: fit-content;
    margin: 1em auto 2em auto;
}

.pdf-viewer-download:hover {
    color: white;
}

/* ---------- Forms ---------- */

form.full-form p {
    margin: 1em 0 2em 0;
}

form.full-form label,
form.full-form textarea,
form.full-form input[type=text],
form.full-form input[type=url],
form.full-form input[type=email],
form.full-form input[type=password],
form.full-form input[type=number] {
    display: block;
    width: 100%;
}

form.full-form textarea {
    height: 4em;
}

form.full-form label {
    margin-bottom: 0;
}

form.full-form ul {
    list-style-type: none;
    padding-left: 0;
}

form.full-form .helptext {
    color: #505050;
    font-size: 0.85em;
    font-style: italic;
    margin: 0.2em;
    display: block;
}

form.full-form .errorlist {
    color: #C0392B;
}

button {
    border-radius: 0.4em;
}

form.full-form button[type=submit] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: 0.7em;
    margin: 1em auto;
    background: #007688;
    color: white;
    width: 100%;
}

form.full-form button[type=submit]:hover {
    opacity: 0.9;
}

.full-form-footer-links a {
    display: block;
    padding: 0.5em;
    margin: 2em auto;
    text-align: center;
    background: #DDD;
    border-radius: 0.4em;
    color: #404040;
}

.full-form-footer-links a:hover {
    opacity: 0.85;
}

form.full-form button[type=submit].button-danger {
    background: #C23616;
}

.field-required.field-invalid {
    border: 2px solid #E74C3C;
}

.validationmsg {
    color: #E74C3C;
    font-size: 0.9em;
}

/* ---------- Navigation ---------- */

nav.navbar {
    background: #007688;
    vertical-align: middle;
    color: white;
    z-index: 950;
}

.navbar-brand {
    display: inline-block;
    font-size: 1rem;
}

.navbar-brand h1 {
    color: white;
    font-weight: 400;
}

.navbar-brand h1 strong {
    color: white;
    font-weight: 500;
}

.nav-link {
    font-weight: 400;
    font-size: 1.05rem;
    color: white;
    padding: 0.3em;
    opacity: 0.8;
}

.nav-link:hover {
    color: white;
}

.nav-link.nav-link-persian {
    font-size: 1.5em;
    padding-top: 0.1em;
}

.nav-link.active,
.nav-link:hover {
    opacity: 1;
}

.dropdown-menu {
    background: white;
    font-size: 1.09em;
}

.dropdown-item {
    font-weight: 400;
    padding: 0.5em 1em;
    background: white;
    color: #007688;
}

.dropdown-item:hover,
.dropdown-item:active {
    background: white;
    color: #007688;
}

nav a:hover {
    color: white;
}

/* ---------- Main ---------- */

main {
    overflow-x: hidden;
    padding-bottom: 8em;
    position: relative;
}

main section {
    padding: 1rem 0;
}

/* ---------- Welcome ---------- */

#welcome-banner {
    background: #007688;
    background-image: url('../images/welcome-banner-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

#welcome-banner-icon {
    height: 27vh;
    display: block;
    margin: 7vh auto;
}

#welcome-banner-title {
    color: white;
    padding: 0.5em 0 1em 0;
    font-weight: 600;
}

#welcome-banner-link {
    background: white;
    color: #007688;
    font-size: 1.2em;
    border-radius: 2em;
    padding: 0.5em 1.3em;
    display: block;
    margin: 8vh auto 8vh auto;
    width: fit-content;
}

#welcome-banner-link:hover {
    text-decoration: none;
    background: #c1b98a;
    color: white;
}

#welcome-banner-more {
    font-size: 2em;
    opacity: 0.7;
    display: block;
    animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        padding-top: 0;
    }
    50% {
        padding-top: 0.64em;
    }
}

/* ---------- List ---------- */

#list {
    width: calc(100% - 23em);
    -webkit-transition: all 0.37s ease;
    -moz-transition: all 0.37s ease;
    -o-transition: all 0.37s ease;
    transition: all 0.37s ease;
}

.quicksearch-input {
    padding: 0.5em;
    width: 21em;
    max-width: 95%;
    display: block;
    margin: 2em 2em 3em 0;
    border: 2px solid #CCC;
    text-align: left;
}

.quicksearch-input:focus {
    outline: none;
    border: 2px solid #EBA82D;
}

/* List options */

#list-options {
    overflow-y: auto;
    height: calc(100vh - 3.5rem);
    padding-bottom: 3.5rem;
}

#list-options-search-fields .list-options-search-fields-instance input {
    width: calc(100% - 3em);
    margin: 0 0.5em 0 0;
    padding: 0.35em;
    display: inline-block;
    vertical-align: middle;
}

#list-options-search-fields .list-options-search-fields-instance:first-of-type input {
    width: 100%;
}

.list-options-search-fields-instance span {
    padding: 0.55em 0.8em 0.4em 0.8em;
    text-align: center;
    background: #DDD;
    cursor: pointer;
    font-size: 0.9em;
    display: inline-block;
    vertical-align: middle;
}

.list-options-search-fields-instance span:hover {
    background: #CCC;
}

.list-options-search-fields-instance-operator {
    cursor: pointer;
    width: fit-content;
    padding: 0.13em 0.6em;
    border-radius: 0.2em;
    margin: 0.3em 0;
}

.list-options-search-fields-instance-operator:hover {
    background: #DDD;
}

#list-options-search-fields-add {
    padding: 0.4em 0.8em 0.3em 0.8em;
    font-size: 0.9em;
    margin: 0.5em auto 1em auto;
    width: fit-content;
    text-align: center;
    background: #DDD;
    cursor: pointer;
}

#list-options-search-fields-add:hover {
    background: #CCC;
}

.list-options-filters-group {
    margin: 1.8em 0;
    padding-top: 0.2em;
    border-top: 1px solid #DDD;
}

.list-options-filters-group:first-of-type {
    margin: 0 0 1.8em;
    padding-top: 0;
    border-top: none;
}

/* List body (all types) */

.list-body {
    margin-top: 1.3em;
}

.list-body-item {
    display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: #131313;
    display: block;
}

.list-body-item:hover {
    color: #131313;
}

.list-body-item-text-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #007688;
}

.list-body-item-text-details {
    font-size: 0.8em;
    padding-top: 0.2em;
    opacity: 0.8;
}

.list-body-empty {
    margin-top: 7em;
    text-align: center;
}

.list-body-empty-title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 1em auto;
}

.list-body-empty-details strong {
    text-decoration: underline;
    cursor: pointer;
}

/* List body (Type: Text) */

.list-body-type-text .list-body-item {
    display: block;
    width: 100%;
    border-top: 1px solid #DDD;
    padding: 0.7em 1em 0.6em 1em;
}

.list-body-type-text .list-body-item:last-child {
    border-bottom: 1px solid #DDD;
}

.list-body-type-text .list-body-item:hover {
    background: #F2F2F2;
}

/* List body (Type: Image and/or Imagecompact) */

.list-body-type-image .list-body-item,
.list-body-type-imagecompact .list-body-item {
    vertical-align: top;
    display: inline-block;
    background: #F7F7F7;
}

.list-body-type-image .list-body-item {
    width: 13em;
    margin-right: 0.27em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

.list-body-type-imagecompact .list-body-item {
    width: 6em;
    margin-right: -5px;
    margin-bottom: -1px;
    position: relative;
    padding: 0;
}

.list-body-type-image .list-body-item:hover,
.list-body-type-imagecompact .list-body-item:hover {
    background: #EEE;
}

.list-body-type-image .list-body-item-imagecontainer,
.list-body-type-imagecompact .list-body-item-imagecontainer {
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.list-body-type-image .list-body-item-imagecontainer {
    height: 12em;
    padding: 0.5em;
}

.list-body-type-imagecompact .list-body-item-imagecontainer {
    height: 6em;
    padding: 0.5em;
}

.list-body-type-image .list-body-item img,
.list-body-type-imagecompact .list-body-item img {
    display: inline-block;
}

.list-body-item img.wider {
    height: auto;
    width: 100%;
}

.list-body-type-image .list-body-item img.taller {
    height: 11em;
    width: auto;
}

.list-body-type-imagecompact .list-body-item img.taller {
    height: 5em;
    width: auto;
}

.list-body-type-imagecompact .list-body-item-text {
    font-size: 0.85em;
    padding: 0.2em 0.4em 0.2em 0.4em;
}

.list-body-type-imagecompact .list-body-item-text-title {
    font-size: 0.8rem;
    font-weight: normal;
}

/* Pagination */

#list-pagination {
    text-align: center;
    margin: 5em auto 2em auto;
    width: 100%;
}

.list-pagination-section {
    height: 4em;
    margin: 1em 0;
}

.list-pagination-section.disabled {
    visibility: hidden;
}

#list-pagination a {
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: 2em;
    width: 2em;
    height: 1.4em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 0.2em;
}

#list-pagination a:hover {
    text-decoration: none;
    background: #007688;
    color: white;
}

.list-pagination-action,
.list-pagination-action-disabled {
    display: inline-block;
    margin: 0 0.4em;
}

.list-pagination-action label {
    font-size: 0.7em;
    padding-top: 0.3em;
    display: block;
}

.list-pagination-current {
    font-size: 1em;
    font-weight: 600;
    display: block;
    padding-top: 1.3em;
}

/* ---------- Help ---------- */

#help-list-head-search {
    margin: 3em auto;
    text-align: center;
}

#help-detail-link {
    text-align: center;
    font-size: 1.1em;
    display: block;
    margin: 3em 0;
}

#help-detail-link a {
    font-weight: bold;
    text-decoration: underline;
}

#help-detail-image {
    max-width: 100%;
    margin: 3em auto;
}

/* ---------- Footer ---------- */

footer {
    background: #EEE;
    color: #404040;
    padding: 4em 0;
    text-align: center;
}

#footer-content-logos img {
    height: 3.5em;
    margin: 1em 2em;
    filter: grayscale(100%);
}

#footer-content-logos img:hover {
    filter: grayscale(0%);
}

#footer-content-social {
    margin: 1.3em 0;
    font-size: 2em;
}

#footer-content-social a {
    color: #606060;
    padding: 0.2em;
    margin: 0.4em;
    display: inline-block;
}

#footer-content-social-instagram:hover {
    color: #962fbf;
}

#footer-content-social-facebook:hover {
    color: #4267B2;
}

#footer-content-social-twitter:hover {
    color: #00acee;
}

#footer-content-social-youtube:hover {
    color: #c4302b;
}

#footer-content-social-linkedin:hover {
    color: #0072b1;
}

#footer-content-text {
    margin-top: 2em;
}

footer p {
    margin-top: 2em;
    display: block;
}

footer a {
    color: #007688;
    opacity: 1;
    text-decoration: underline;
}

footer a:hover {
    color: #007688;
    opacity: 1;
    text-decoration: underline;
}

/* ---------- Error Pages ---------- */

.errorpage-path {
    font-weight: 500;
}

.errorpage-code {
    margin-top: 3em;
    font-size: 0.8em;
}
