
/* ---------- General ---------- */

html, body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: #F8F8F8;
    color: black;
    margin: 0;
    font-weight: 300;
}

a,
.link:not(.brokenlink) {
    color: #007688;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

a:hover,
.link:not(.brokenlink):hover {
    color: #007688;
    text-decoration: underline;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
}

h1 img {
    height: 1.8em;
}

h1 div {
    display: inline-block;
    font-weight: 500;
}

h2 {
    font-size: 2em;
    margin: 1.5em 0 0.8em 0;
    line-height: 1em;
    font-weight: 500;
    color: #007688;
    text-align: center;
}

h3 {
    font-size: 1.6em;
    line-height: 1em;
    font-weight: 500;
    margin: 1em 0 0.5em 0;
    color: #007688;
}

h4 {
    line-height: 1em;
    font-size: 1.2em;
    padding: 0.8em 0 0.1em 0;
}

hr {
    border-top: 0.4rem solid #121d29;
    width: 9rem;
    margin: 0.2em 0 1.3em 0;
}

table {
    width: 100%;
}

td,
th {
    border: 1px solid #AAA;
    padding: 0.3em;
    vertical-align: middle;
}

th {
    background: #007688;
    color: white;
    border: 1px solid #007688;
    font-weight: 400;
    text-align: center;
}

th.sortable {
    cursor: pointer;
}

tr.table-separator td,
tr.table-separator th {
    border: none;
}

td.align-left {
    text-align: left;
}

td.align-right {
    text-align: right;
}

p {
    margin: 0.5em 0;
    line-height: 1.7em;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    padding: 0.3em 1.3em 0.3em 0.3em;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    display: block;
    border: 1px solid #BBB;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    background-color: white;
}

select option,
.list-options-filters-filter select option {
    color: black;
}

strong {
    font-weight: 500;
}

em {
    font-style: italic;
}

.clearfloat {
    clear: both;
}

i.icon {
    margin-right: 0.3em;
    user-select: none;
}

.image-circle {
    border-radius: 100%;
    width: 13em;
    max-width: 90%;
    display: block;
    margin: 1em auto;
}

/* ---------- Forms ---------- */

form.full-form p {
    margin: 1em 0 2em 0;
}

form.full-form label,
form.full-form textarea,
form.full-form input[type=text],
form.full-form input[type=url],
form.full-form input[type=email],
form.full-form input[type=password],
form.full-form input[type=number] {
    display: block;
    width: 100%;
}

form.full-form textarea {
    height: 4em;
}

form.full-form label {
    margin-bottom: 0;
}

form.full-form ul {
    list-style-type: none;
    padding-left: 0;
}

form.full-form .helptext {
    color: #505050;
    font-size: 0.85em;
    font-style: italic;
    margin: 0.2em;
    display: block;
}

form.full-form .errorlist {
    color: #C0392B;
}

button {
    border-radius: 0.4em;
}

form.full-form button[type=submit] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: 0.7em;
    margin: 1em auto;
    background: #007688;
    color: white;
    width: 100%;
}

form.full-form button[type=submit]:hover {
    opacity: 0.9;
}

.full-form-footer-links a {
    display: block;
    padding: 0.5em;
    margin: 2em auto;
    text-align: center;
    background: #DDD;
    border-radius: 0.4em;
    color: #404040;
}

.full-form-footer-links a:hover {
    opacity: 0.85;
}

form.full-form button[type=submit].button-danger {
    background: #C23616;
}

.field-required.field-invalid {
    border: 2px solid #E74C3C;
}

.validationmsg {
    color: #E74C3C;
    font-size: 0.9em;
}

/* ---------- Navigation ---------- */

nav.navbar {
    background: #007688;
    vertical-align: middle;
    color: white;
    z-index: 950;
}

.navbar-brand {
    display: inline-block;
    font-size: 1rem;
}

.navbar-brand h1 {
    color: white;
    font-weight: 400;
}

.navbar-brand h1 strong {
    color: white;
    font-weight: 500;
}

.nav-link {
    font-weight: 400;
    font-size: 1.05rem;
    color: white;
    padding: 0.3em;
    opacity: 0.8;
}

.nav-link:hover {
    color: white;
}

.nav-link.nav-link-persian {
    font-size: 1.5em;
    padding-top: 0.1em;
}

.nav-link.active,
.nav-link:hover {
    opacity: 1;
}

/* ---------- Main ---------- */

main {
    overflow-x: hidden;
    padding-bottom: 8em;
    position: relative;
}

main section {
    padding: 1rem 0;
}

/* ---------- Welcome ---------- */

#welcome-banner {
    background: #007688;
    background-image: linear-gradient(180deg, #007688, #41aebf); 
    color: white;
    text-align: center;
    font-weight: 500;
}

#welcome-banner-icon {
    height: 27vh;
    display: block;
    margin: 5vh auto;
}

#welcome-banner-title {
    color: white;
    margin: 1em 0;
}

#welcome-banner-tagline {
    font-weight: 500;
    opacity: 0.7;
}

#welcome-banner-link {
    background: white;
    color: #007688;
    font-size: 1.2em;
    border-radius: 2em;
    padding: 0.5em 1.3em;
    display: block;
    margin: 8vh auto 8vh auto;
    width: fit-content;
}

#welcome-banner-link:hover {
    text-decoration: none;
    background: #c1b98a;
    color: white;
}

#welcome-banner-more {
    font-size: 2em;
    opacity: 0.7;
    display: block;
    cursor: pointer;
    animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        padding-top: 0;
    }
    50% {
        padding-top: 0.64em;
    }
}



/* ---------- Footer ---------- */

footer {
    background: #EEE;
    color: #404040;
    padding: 4em 0;
    text-align: center;
}

#footer-content-logos img {
    height: 3.5em;
    margin: 1em 2em;
    filter: grayscale(100%);
}

#footer-content-logos img:hover {
    filter: grayscale(0%);
}

#footer-content-social {
    margin: 1.3em 0;
    font-size: 2em;
}

#footer-content-social a {
    color: #606060;
    padding: 0.2em;
    margin: 0.4em;
    display: inline-block;
}

#footer-content-social-instagram:hover {
    color: #962fbf;
}

#footer-content-social-facebook:hover {
    color: #4267B2;
}

#footer-content-social-twitter:hover {
    color: #00acee;
}

#footer-content-social-youtube:hover {
    color: #c4302b;
}

#footer-content-social-linkedin:hover {
    color: #0072b1;
}

#footer-content-text {
    margin-top: 2em;
}

footer p {
    margin-top: 2em;
    display: block;
}

footer a {
    color: #007688;
    opacity: 1;
    text-decoration: underline;
}

footer a:hover {
    color: #007688;
    opacity: 1;
    text-decoration: underline;
}

/* ---------- Error Pages ---------- */

.errorpage-path {
    font-weight: 500;
}

.errorpage-code {
    margin-top: 3em;
    font-size: 0.8em;
}
