@media (max-width: 991px) {
    /* ---------- General ---------- */

    table,
    tbody,
    tr,
    td,
    td.align-right {
        display: block;
        border: none;
        text-align: left;
        width: 100%;
    }

    thead {
        display: none;
    }

    tr {
        margin: 2em 0;
        border: 1px solid #AAA;
        padding: 1em;
    }

    table label {
        display: inline-block;
        font-weight: bold;
    }

    table label::after {
        content: ': ';
    }

    /* ---------- Navigation ---------- */

    .nav-item {
        margin-top: 1em;
    }

    .nav-item:last-of-type {
        margin-bottom: 1em;
    }

    .navbar-toggler {
        color: white;
        font-size: 1.7em;
        padding-right: 0.35em;
    }

    .nav-link {
        padding-left: 0.5em;
        border-left: 3px solid transparent;
    }

    .nav-link.active {
        padding-left: 0.5em;
        border-left: 3px solid #c1b98a;
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 4rem;
        min-height: calc(100vh - 3.3rem);
    }

    /* ---------- Welcome ---------- */

    #welcome-banner {
        min-height: calc(100vh - 3.3rem);
        padding: 1rem;
    }

    #welcome-banner-title {
        font-size: 3em;
    }

    #welcome-banner-tagline {
        width: 100%;
        font-size: 1.2em;
    }

    /* ---------- List ---------- */

    #list {
        width: 100%;
    }

    .list-body-type-image {
        text-align: center;
    }

    .list-body-type-imagecompact .list-body-item {
        margin: 0.5em;
    }

    .list-body-type-imagecompact .list-body-item-text {
        width: 100%;
        color: #007688;
    }

    .list-pagination-section {
        width: 100%;
        display: block;
    }

}
