@media (min-width: 992px) {

    /* ---------- Navigation ---------- */

    nav.navbar {
        height: 4.5rem;
    }

    .navbar-brand {
        padding-left: 0.3em;
    }

    .nav-link {
        margin-left: 0.7em;
        margin-right: 0.7em;
        margin-top: 0.2em;
    }

    .nav-link.active {
        border-bottom: 4px solid var(--color-secondary);
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 4rem;
        min-height: calc(100vh - 4rem);
    }

    /* ---------- Welcome ---------- */

    #welcome-banner {
        min-height: calc(100vh - 4rem);
        padding: 2rem;
    }

    #welcome-banner-title {
        font-size: 4.3em;
    }

    #welcome-banner-tagline {
        font-size: 1.6em;
    }

    /* ---------- Corpus: List ---------- */

    #corpus-text-list {
        width: calc(100% - 23em);
    }

    #corpus-text-list-options,
    .corpus-text-list-options-submitbuttons {
        right: 0;
    }

    #corpus-text-list-options-toggler {
        display: none;
    }

    #corpus-text-list-options {
        height: calc(100vh - 6.82em);
    }

    #corpus-text-list-counts span {
        margin: 0 1rem;
        display: inline-block;
        vertical-align: middle;
    }

    .corpus-text-list-items-item {
        margin: 1.3rem 0;
    }

    .corpus-text-list-items-item-imagecontainer {
        display: inline-block;
        vertical-align: top;
        width: 11em;
        height: 11em;
    }

    .corpus-text-list-items-item-text {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 11.5em);
        padding: 0.7em 0.6em;
    }

    #corpus-text-list-pagination {
        white-space: nowrap;
    }

    .corpus-text-list-pagination-section {
        white-space: normal;
        width: 33%;
        display: inline-block;
        vertical-align: middle;
    }

}
