<!doctype html>

{% load static settings_value %}

<html lang="en">

    <head>
        <title>Invisible East</title>

        <!--Meta-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Invisible East is a research programme on the 8th-13th century Islamicate world in Iran, Afghanistan and Central Asia.">
        <meta name="author" content="Invisible East team">

        <!-- CSS -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600&display=swap" rel="stylesheet">

        <!-- Font Awesome -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
            crossorigin="anonymous">

        <!-- Custom -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom_small.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom_large.css' %}">

        <!--Set the favicon-->
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    </head>

    <body>

        <!-- jQuery (has to load at start of page, as some templates that extend from this base template include jQuery in them) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

        <!-- Navigation bar -->
        <nav class="navbar fixed-top navbar-expand-lg">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'general:welcome' %}">
                <h1>
                    <img src="{% static 'images/logos/ie-icon/ie-icon-xsmall.png' %}" alt="Invisible East project icon">
                    <div>Invisible<br>East</div>
                </h1>
            </a>
            <!-- Nav toggle button (for small screens) -->
            <button class="navbar-toggler" type="button" title="navbartoggle" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Nav list -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <!-- Welcome -->
                    <li class="nav-item">
                        <a class="nav-link{% if request.path == "/" %} active{% endif %}" href="{% url 'general:welcome' %}">
                            Welcome
                        </a>
                    </li>
                    <!-- Corpus -->
                    <li class="nav-item">
                        <a class="nav-link{% if "/corpus/" in request.path %} active{% endif %}" href="#">
                            Corpus
                        </a>
                    </li>
                    <!-- About -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle{% if "/about/" in request.path %} active{% endif %}" href="#" id="navbarDropdownMenuLinkAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkAbout">
                            <a class="dropdown-item" href="{% url 'general:about-cite' %}">How to Cite</a>
                            <a class="dropdown-item" href="{% url 'general:about-faqs' %}">FAQs</a>
                            <a class="dropdown-item" href="{% url 'general:about-glossary' %}">Glossary</a>
                            <a class="dropdown-item" href="{% url 'general:about-technical' %}">Technical/Software</a>
                            <a class="dropdown-item" href="{% url 'general:about-credits' %}">Credits</a>
                            <a class="dropdown-item" href="{% url 'general:about-resources' %}">Resources</a>
                        </div>
                    </li>
                    <!-- Help -->
                    <li class="nav-item">
                        <a class="nav-link{% if "/help/" in request.path %} active{% endif %}" href="{% url 'help:list' %}">
                            Help
                        </a>
                    </li>
                    <!-- Project -->
                    <li class="nav-item">
                        <a class="nav-link" href="https://invisibleeast.web.ox.ac.uk/" target="_blank">
                            Project
                        </a>
                    </li>
                    <!-- About Project (Persian) -->
                    <li class="nav-item">
                        <a class="nav-link nav-link-persian" href="https://invisibleeast.web.ox.ac.uk/about-persian" target="_blank">
                            فارسی
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main -->
        <main id="main">
            {% block main %}
            {% endblock %}
        </main>

        <!-- Footer -->
        <footer id="footer" class="container-fluid">
            <!-- Content -->
            <div id="footer-content" class="container-fluid">

                <div id="footer-content-logos">
                    <!-- Oxford -->
                    <a href="https://www.ox.ac.uk/" target="_blank"><img src="{% static 'images/logos/oxford-logo.png' %}" alt="Oxford University logo"></a>
                    <!-- AHRC -->
                    <a href="https://www.ukri.org/councils/ahrc/" target="_blank"><img src="{% static 'images/logos/ahrc-logo.png' %}" alt="Arts and Humanities Research Council logo"></a>
                    <!-- ERC -->
                    <a href="https://erc.europa.eu/homepage" target="_blank"><img src="{% static 'images/logos/erc-logo.png' %}" alt="European Research Council logo"></a>
                    <!-- Alexander von Humboldt Foundation -->
                    <a href="https://www.humboldt-foundation.de/en/" target="_blank"><img src="{% static 'images/logos/avhs-logo.png' %}" alt="Alexander von Humboldt Foundation"></a>
                </div>

                <div id="footer-content-social">
                    <a title="instagram" id="footer-content-social-instagram" href="https://www.instagram.com/invisible_east/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a title="facebook" id="footer-content-social-facebook" href="https://www.facebook.com/InvisibleEast.Official" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a title="twitter" id="footer-content-social-twitter" href="https://twitter.com/invisible_east" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a title="youtube" id="footer-content-social-youtube" href="https://www.youtube.com/channel/UC-sicCra2ugvOyjOL9VP_BQ" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a title="linkedin" id="footer-content-social-linkedin" href="https://www.linkedin.com/company/invisible-east" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>

                <div id="footer-content-text">
                    <p>
                        Invisible East is a research project led by <a href="https://www.ames.ox.ac.uk/people/arezou-azad" target="_blank">Arezou Azad</a> within the
                        
                        <a href="https://www.ames.ox.ac.uk/" target="_blank">Faculty of Asian and Middle Eastern Studies</a>, University of Oxford
                    </p>
                    <p>
                        Invisible East Offices, Room 17, St Antony’s College, 62 Woodstock Road, Oxford OX2 6JF
                    </p>
                    <p>
                        This project has received funding from the European Research Council (ERC)
                        <br>
                        under the European Union’s Horizon 2020 research and innovation programme (grant agreement No 851607)
                    </p>
                    <p>
                        <a href="https://www.ox.ac.uk/privacy-policy" target="_blank">Privacy</a> |
                        <a href="https://www.ox.ac.uk/legal" target="_blank">Legal</a> |
                        <a href="{% url 'general:cookies' %}">Cookies</a> |
                        <a href="{% url 'general:accessibility' %}">Accessibility</a> |
                        {% if user.is_authenticated %}
                            <a href="{% url 'admin:index' %}">Admin</a> |
                            <a href="{% url 'account:account' %}">Account</a>
                        {% else %}
                            <a href="{% url 'account:login' %}">Login</a>
                        {% endif %}
                    </p>
                    <p>
                        © University of Oxford {% now "Y" %}
                    </p>
                </div>

            </div>
        </footer>

        <!-- JavaScript (other JS references above, where appropriate. Remaining shown below.) -->

        <!-- 3rd party JavaScript -->
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        <!-- Google Analytics tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-DV2H22P2TV"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-DV2H22P2TV');
        </script>

        <!-- Custom JavaScript -->
        <script src="{% static 'js/cookiesmsg.js' %}"></script>
        <script src="{% static 'js/quicksearch.js' %}"></script>

    </body>

</html>
